$color-back: #ebe5d0;
$color-back-second: #f3f1db;

$color-gray-200: #6a6a6a;
$color-gray-300: #4f4f4f;
$color-gray-400: #5e5446;

$color-black: #1d1d1d;
$color-blue: #3567c9;
$color-luck: #0cb70c;
$color-unluck: #ff3e3e;
$color-gold: #f0a020;

$color-dashed-border: rgba(94, 84, 70, 0.22);

$color-codenames-blue-back: #50bbff;
$color-codenames-blue-text: #00548a;
$color-codenames-red-back: #ff6450;
$color-codenames-red-text: #8a1000;
$color-codenames-black-back: #444;
$color-codenames-black-text: #aaa;
$color-codenames-common-back: #c2b594;
$color-codenames-common-text: #686052;
