@use "mynormalize";
@use "enterpoint" as *;

@font-face {
  font-family: "opensans";
  src: url("/fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Bold.woff2");
  font-weight: 600;
  font-display: swap;
}

body {
  overflow: hidden;
  height: 100svh;

  background-color: $color-back;
  color: $color-black;
  font-size: 20px;

  font-family: opensans, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  overflow: auto;
}

._team-red {
  background: $color-codenames-red-back !important;
  color: $color-codenames-red-text !important;
}
._team-blue {
  background: $color-codenames-blue-back !important;
  color: $color-codenames-blue-text !important;
}
._team-black {
  background: $color-codenames-black-back !important;
  color: $color-codenames-black-text !important;
}
._team-common {
  background: $color-codenames-common-back !important;
  color: $color-codenames-common-text !important;
}
